<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
 
 
</head>
<style>
    body{
        background-color: gray;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
    }
    .forgot{
        margin: 50px;
        padding: 100px;
        background-color: white;
        width: 200px;
    }
    div{
        background-color: yellow;
        width: 200px;
        
        
    }
</style>
<body>
    
    <div class="forgot">
    <h2>Change Password</h2>
    <form action="" method="POST">
        {% csrf_token %}
       
        <label for="">New Password</label><br>
        <input type="password" name="newpassword" required><br><br>
        <label for="">Confirm password</label><br>
        <input type="password"  name="confirmpassword" required><br><br>
        <input type="submit" >
    </form>
    {% if messages %}
    {% for m in messages %}
    <div>
    <p style="color: red;">{{ m }}</p>
</div>
    {% endfor %}
    {% endif %}
    

  

</body>
</html>