{% extends 'base.html' %}
    {% block body %}
    
    
    <div class="container1">
    <img  width="200px" height="200px" src="https://images.pexels.com/photos/2372978/pexels-photo-2372978.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
    <img  width="200px" height="200px"src="https://media.istockphoto.com/id/1218961153/photo/art-museum.jpg?s=612x612&w=0&k=20&c=9fK54fu1mjzFjDOSqg_jfrMy4Hkp8vsmImB7rLrbhJs=" alt="">
    <img width="200px" height="200px" src="https://www.shutterstock.com/image-photo/exhibition-room-art-gallery-600nw-2278230369.jpg" alt="">
    <img width="200px" height="200px"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgL7m5NAdwJcnAfErDDZshF3CKdBhXzVGtbA&usqp=CAU" alt="">
    <img width="200px" height="200px" src="https://images.pexels.com/photos/2372935/pexels-photo-2372935.jpeg?cs=srgb&dl=pexels-matheus-viana-2372935.jpg&fm=jpg" alt="">
    <img  width="200px" height="200px"src="https://cdn.artcld.com/img/ap23oktnd729co5qji76.jpg" alt="">
    <img  width="200px" height="200px"src="https://s3-media0.fl.yelpcdn.com/bphoto/94dw6yIHOdhZOvULkjMZug/348s.jpg" alt="">
    <img width="200px" height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBOxFDH0kqW1Ucj-KG9XOaHnlhyYw5dPYf7NgC_XYvQs_-AB0S40psvOn4XhmwAR2q4H8&usqp=CAU" alt="">
    <img  width="200px" height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAqAqf7_aKwDaanKFQkzbnUOeKO4f9r_VeElYwEgXr9ItR4WDrrB2ee9dJCajVfHL5cu4&usqp=CAU" alt="">
</div>
  {% endblock %}


